
 <h2><button (click)="testClick()">Test Click</button></h2> 


<!-- policy-list.component.html -->
<div class="container">
  <h3 class="text-center">Claims List</h3>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <button (click)="sortData('userName')">User Name</button>
        <th (click)="sortData('firstName')">First Name</th>
        <button (click)="sortData('policyId')">Policy ID</button>
        <th (click)="sortData('purchasedOn')">Purchased On</th>
        <button (click)="sortData('amount')">Amount</button>
        <th (click)="sortData('claimedAmount')">Claimed Amount</th>
        <th (click)="sortData('remainingAmount')">Remaining Amount</th>
        <th (click)="sortData('claimDate')">Claim Date</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let claim of myclaims">
        <td>{{ claim.userName }}</td>
        <td>{{ claim.firstName }}</td>
        <td>{{ claim.policyId }}</td>
        <td>{{ claim.purchasedOn | date:'shortDate' }}</td>
        <td>{{ claim.amount | currency }}</td>
        <td>{{ claim.claimedAmount | currency }}</td>
        <td>{{ claim.remainingAmount | currency }}</td>
        <td>{{ claim.claimDate | date:'shortDate' }}</td>
      </tr>
    </tbody>
  </table>
</div>


  
  