<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">User Details</h5>
          <p class="card-text">Manage user information and settings.</p>
          <a href="admin_user" class="btn btn-primary">Go to User Details</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add New Policy</h5>
          <p class="card-text">Create and manage policies.</p>
          <a href="newPolicy" class="btn btn-primary">Add Policy</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sales Data</h5>
          <p class="card-text">View and analyze sales data.</p>
          <a href="admin_sales" class="btn btn-primary">View Sales Data</a>
        </div>
      </div>
    </div>
  </div>
</div>
