nav {
    padding: 20px;
  }
  
  .home {
    height: 800px;
    opacity: 0.8;
  }
  
  .title {
    font-size: 80px;
    margin-top: 80px;
    margin-left: 200px;
    opacity: 1;
  }
  
  button {
    margin: 50px;
    margin-top: 100px;
    margin-left: 100px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    height: 150px;
    width: 200px;
    border-radius: 10px;
    border-color: white;
  }
  
  button:nth-child(1) {
    background-color: #91a8c2;
    color: white;
  }
  
  button:nth-child(2) {
    background-color: #e38fc7;
    color: white;
  }
  
  button:nth-child(3) {
    background-color: #8cedc6;
    color: white;
  }
  
  button:nth-child(4) {
    background-color: rgb(198, 216, 130);
    color: white;
  }
  