<!-- create form for user registration -->
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <form (ngSubmit)="submit()" class="container mt-5 p-4 border rounded shadow bg-light">
        <div class="form-group mb-3">
          <label for="userName" class="form-label">User Name</label>
          <input id="userName" #username (change)="checkExistingUser(username.value)" [(ngModel)]="newUser.userName" name="userName" class="form-control border-primary">
          <span class="form-text text-danger" [innerText]="existing"></span>
        </div>

        <div class="form-group mb-3">
          <label for="password" class="form-label">Password</label>
          <input id="password" type="password" [(ngModel)]="newUser.password" name="password" class="form-control border-primary">
        </div>

        <div class="form-group mb-3">
          <label for="userType" class="form-label">User Type</label>
          <input id="userType" [(ngModel)]="newUser.userType" name="userType" class="form-control border-primary">
        </div>

        <div class="form-group mb-3">
          <label for="firstName" class="form-label">First Name</label>
          <input id="firstName" [(ngModel)]="newUser.firstName" name="firstName" class="form-control border-primary">
        </div>

        <div class="form-group mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input id="lastName" [(ngModel)]="newUser.lastName" name="lastName" class="form-control border-primary">
        </div>

        <div class="form-group mb-3">
          <label for="age" class="form-label">Age</label>
          <input id="age" type="number" [(ngModel)]="newUser.age" name="age" class="form-control border-primary">
        </div>

        <div class="form-group mb-3">
          <label for="gender" class="form-label">Gender</label>
          <input id="gender" [(ngModel)]="newUser.gender" name="gender" class="form-control border-primary">
        </div>

        <div class="form-group mb-3">
          <label for="email" class="form-label">Email</label>
          <input id="email" type="email" [(ngModel)]="newUser.email" name="email" class="form-control border-primary">
        </div>

        <div class="form-group mb-3">
          <label for="contactNo" class="form-label">Contact No</label>
          <input id="contactNo" [(ngModel)]="newUser.contactNo" name="contactNo" class="form-control border-primary">
        </div>

        <div class="form-group mb-3">
          <label for="address" class="form-label">Address</label>
          <input id="address" [(ngModel)]="newUser.address" name="address" class="form-control border-primary">
        </div>

        <div class="form-group mb-4">
          <label for="customerImage" class="form-label">Customer Image</label>
          <input id="customerImage" type="file" [(ngModel)]="newUser.customerImage" name="customerImage" class="form-control-file">
        </div>

        <button type="submit" class="btn btn-primary btn-lg w-100">Submit</button>
        <span class="form-text text-center mt-2">{{message}}</span>
      </form>




    </div>
    <div class="col-md-2"></div>
</div>
