


  <div class="container mt-4">
    <h2 class="text-center mb-4">Available Policies</h2>
    <input class="form-control mr-sm-2" type="search" placeholder="Search" [(ngModel)]="searchQuery" aria-label="Search"><br/>
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="filteredPolicies()" type="submit">Search</button>
    <br/><br/>
    <div *ngFor="let policy of policies" class="card mb-3 shadow-sm">
      
      <div class="card-body">
        
        <h5 class="card-title">{{ policy.policyName }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ policy.policyType }}</h6>
        <p class="card-text">{{ policy.policyDescription }}</p>
        <ul class="list-group list-group-flush mb-3">
          <li class="list-group-item">Insurance Amount: ₹{{ policy.insuranceAmount }}</li>
          <li class="list-group-item">Policy Validity: {{ policy.policyValidity }} years</li>
        </ul>
              <button class="btn btn-primary float-right" (click)="buyPolicy(policy.policyId)">₹{{ calculateMonthlyAmount(policy.insuranceAmount, policy.policyValidity) }}/month</button>

        <!-- <button class="btn btn-primary float-right" (click)="buyPolicy(policy)">
          Buy Policy (₹{{ calculateMonthlyAmount(policy.insuranceAmount, policy.policyValidity) }}/month)
        </button> -->
      </div>
    </div>
</div>


  <div>
    <button (click)="nextPage()" class="btn" >Next</button>
  </div>
  

<div>
  <div>
    <router-outlet></router-outlet>
    
</div>
</div>